.btn {
	margin-top: 150px;
	margin-left: 200px;
	text-align: center;
	gap: 0.5rem;
	padding: 0.5rem 1.5rem;
	font-size: 1.5rem;
	background-color: #1db954;
	outline: none;
	cursor: pointer;
	border: none;
	border-radius: 90px;
	font-weight: 600;
	color: white;
	transition: 0.1s all ease-in;
	display: flex;

}

.btn:hover {
	color: white;
	background-color: green;
	transition: 0.1s all ease-out;
}

@media only screen and (max-width: 576px) {
	.btn {
		padding: 0.25rem 0.5rem;
		font-size: 1rem;
	}
}